@import url('./fonts/stylesheet.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    font-family: inter, sans-serif;
}
.header-section,
.main-section {
    align-self: stretch;
    padding-block: 6.6667%;
}
.container,
.blog-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 5.5556%;
    padding-inline: 2.2223%;
}
header.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
    align-self: stretch;
}
.heading-supporting-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 78.9474%;
    row-gap: 1.5rem;
}
header.heading-subheading {
    display: flex;
    flex-direction: column;
     row-gap: 12px;
}
header.heading-subheading h4 {
    font-weight: 600;
    line-height: 1.5rem;
    color: #7F56D9;
}
header.heading-subheading h1 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -0.02em;
    color: #101828;
}
header div.supporting-text {
    width: 80%;
}
header div.supporting-text p{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #667085;
}
header form.email-capture {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}
header div.input-field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    width: 72.8745%;
    font-size: 1rem;
}
header div.input-field-wrapper .input-field {
    padding-block: 12px;
    padding-inline-start: 1rem;
    padding-inline-end: .875rem;
    align-self: stretch;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: .5rem;
}
form div.hint-text-wrapper p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #667085;
    align-self: stretch;
}
form input.btn {
    padding-block: 8px;
    padding-inline: 20px;
    background: #7F56D9;
    border: 1px solid #7F56D9;
    box-shadow: 0px 1px 2px #1018280d;
    border-radius: .5rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #FFFFFF;
    cursor: pointer;
}
/* heading section ends */

/* Section - Recent post styles */
.main-section {
    padding-block-start: 0;
}
.blog-posts-container {
    padding-block-end: 6.6667%;
}
.blog-posts-container:last-of-type {
    padding-block-end: 0;
}
main section .blog-post-heading-h2 {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #101828;
    align-self: stretch;
    text-transform: capitalize;
    padding-block-end: 0.75rem;
}
main section .cards-wrapper {
    display: grid;
    row-gap: 3rem;
    column-gap: 2rem;
    align-self: stretch;
}
main section .recent-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main section #all-posts {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    column-gap: 2rem;
}
main section .card {
    display: grid;
    gap: 2rem;
}
.recent-posts-col-2 {
    display: grid;
    row-gap: 1rem;
}
.last-two-recents {
    grid-template-columns: 1fr 1fr;
}
#reduced-h2 {
    font-size: .8rem;
    line-height: 1rem;
}
figure {
    height: 243px;
    background-color: rgb(49, 65, 60);
}
main section .card figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
article .author-post-date {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    color: #6941C6;
    align-self: stretch;
    font-weight: 600;
    padding-block-end: 0.75rem;
} 
.header-with-arrow { /* for spacing the heading and the launch arrow */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}
.hide-launch-arrow {
    display: none;
}
article .describe {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #667085;
    align-self: stretch;
    padding-block-end: 1.5rem;
}
#badges-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-start;
    align-self: flex-end;
}
.badge {
    padding-block: 0.125rem;
    padding-inline: 10px;
    border-radius: 0.625rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.badge p {
    mix-blend-mode: multiply;
    text-transform: capitalize;
}
.design {
    background: #F9F5FF;
    color: #6941C6;
} 
.research {
    background: #EEF4FF;
    color: #3538CD;
} 
.presentation {
    background: #FDF2FA;
    color: #C11574;
} 
.leadership {
    background: #F9F5FF;
    color: #6941C6;
} 
.management {
    background: #F8F9FC;
    color: #363F72;
} 
.product {
    background: #F0F9FF;
    color: #026AA2;
} 
.software {
    background: #ECFDF3;
    color: #027A48;
} 
.frameworks {
    background: #FFF6ED;
    color: #C4320A;
} 
.tools {
    background: #FDF2FA;
    color: #C11574;
} 
.saas {
    background: #FFF1F3;
    color: #C01048;
} 


/**************** Pagination at footer *****************/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    margin-block-start: 86px;
    align-self: stretch;
} 
.pagination {
display: inline-block;
}

.pagination a {
color: #7F56D9;
border-radius: 8px;
padding: 10px 16px;
text-decoration: none;
transition: background-color .3s;
margin: 0 2px;
}

.pagination a.active {
background-color: #F9F5FF;
color: #7F56D9;
border: 1px solid #F9F5FF;
}

.pagination a:hover:not(.active) {background-color: #F9F5FF;}

 @media(width <= 900px) {
   
    .blog-posts-container
    .container {
        margin-inline: 1%;
        padding-inline: 2.2223%;
    }
     main section .recent-posts {
         display: grid;
         grid-template-columns: 1fr;
    }
    .recent-posts-col-2 {
        display: grid;
        row-gap: 3rem;
    }
    #reduced-h2 {
        font-size: 1.2rem;
        line-height: 2rem;
    }        
    .hide-launch-arrow {
        display: flex;
    }        
    main section #all-posts {
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
        column-gap: 2rem;
    } 
} 

@media (width <= 600px ) {
    /* header section styles */
    .blog-posts-container
    .container {
        margin-inline: 1%;
        padding-inline: 2.2223%;
    }
    header.heading-subheading h4 {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: #7F56D9;
    }
    header.heading-subheading h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        letter-spacing: -0.02em;
        color: #101828;
    }
    .heading-supporting-text {
        width: 100%;
        row-gap: 1.5rem;
    }
    header div.supporting-text {
        width: 100%;
    }
    header div.supporting-text p{
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: #667085;
    }
    header form.email-capture {
        flex-direction: column;
        width: 100%;
    }
    header div.input-field-wrapper {
        flex-direction: column;
        width: 100%;
        font-size: 1rem;
    }
    form input.btn {
        align-self: stretch;
    }
    /* End of header section */
    /* ====================================== */

    /* Start of mobile style */
    main section .recent-posts {
        display: grid;
        grid-template-columns: 1fr;
    }
    .last-two-recents {
        grid-template-columns: 1fr;
    }
    main section #all-posts {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    main section .blog-post-heading-h2 {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
    main section .card figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}