@import url('./fonts/stylesheet.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {

}
html {
    font-size: 16px;
}
body {
    display: flex;

    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    font-family: inter, sans-serif;
    /* height: 2333px; */
}
.header-section {
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    align-self: stretch;
    /* height: 33.8889%; */
    height: 20.9173%;
    /* border: solid 1px red; */
    background-color: yellow;
    padding-block: 6.6667%;
    /* gap: 4.4445%; */
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 5.5556%;
    /* margin-block: 6.6667%; */
    padding-inline: 2.2223%;
    /* border: solid 1px red; */
    background-color: turquoise;
}
header.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2.7778%; */
    align-self: stretch;
}
.heading-supporting-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78.9474%;
    background-color: pink;
    /* gap: 24px; */
}
header.heading-subheading {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* row-gap: 1.25%; */
}